<div>
  <mat-form-field class="product-field">
    <input matInput [formControl]="name" placeholder="Имя продукта">
  </mat-form-field>

  <button mat-button (click)="addItem()">Добавить продукт</button>
</div>

<div>
  <mat-form-field class="product-field">
    <input matInput [formControl]="filterControl" placeholder="Поиск">
  </mat-form-field>
</div>

<div class="lists">
  <div class="free">
    <button *ngIf="canSelectAll" mat-button (click)="selectAll()">Выбрать всё</button>
    <mat-list role="list">
      <mat-list-item *ngFor="let item of items">
        <span class="item" (click)="selectItem(item)">{{ item.name }}</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="selected">
    <div class="selected_label">
      Уже выбрано: {{ selectedCount }}
      <button mat-button (click)="clearBucket()">Очистить</button>
    </div>

    <mat-list class="selected_list">
      <mat-list-item *ngFor="let item of selected">
        <span class="item" (click)="excludeItem(item)">{{ item.name }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
